
@keyframes shake {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(10px, 0, 0);
    }
  }


.card {
    border: none;
    width: 16rem;
    display: inline-block;
    margin: 10px 10px 10px 10px ;
    align-items: center;
}

.card.shake {
    animation: shake 1s;
}

.click-item{
    background-size: cover;
    background-position: 50%;
    height: 170px;
    width: 170px;
    margin: 25px 25px;
    border: none;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    cursor: pointer;
    transition: all .2s ease-in-out;}
.click-item:hover {
    transform: scale(1.2);
    box-shadow: 0 9px 12px rgba(0,0,0,.16), 0 9px 12px rgba(0,0,0,.23);

}